<h1>このサイトを作った理由</h1>

<p>みなさんは高難易度の数独を解いたことはあるでしょうか？</p>

<p>私は小学生の頃から多くのパズルゲームを行ってきました。</p>
<p>私の原点は毎週日曜日に読売新聞で掲載されていた数独とクロスワードでした。</p>
<p>当時、それを解いてハガキに答えを書いて応募するとQUOカードが抽選で貰えましたが、私は応募したことありませんでしたね・・・</p>


