#作ったCSSを読み込む
<html>
    <head>
        <%= stylesheet_link_tag 'create' %>
    </head>


    <h1>ナンプレ投稿フォーム</h1>
    <p>Find me in app/views/numpre/create.html.erb</p>
    <br>
    <br>
    <table border="3">
        <tr> 
            <td class=number-cell>1</td>
            <td class=number-cell>1</td>
            <td class=number-cell>1</td>
            <td class=number-cell>1</td>
            <td class=number-cell>1</td>
            <td class=number-cell>1</td>
            <td class=number-cell>1</td>
            <td class=number-cell>1</td>
            <td class=number-cell>1</td>
        </tr>
        <tr> 
            <td class=number-cell>2</td>
            <td class=number-cell>2</td>
            <td class=number-cell>2</td>
            <td class=number-cell>2</td>
            <td class=number-cell>2</td>
            <td class=number-cell>2</td>
            <td class=number-cell>2</td>
            <td class=number-cell>2</td>
            <td class=number-cell>2</td>
        </tr>
        <tr> 
            <td class=number-cell>3</td>
            <td class=number-cell>3</td>
            <td class=number-cell>3</td>
            <td class=number-cell>3</td>
            <td class=number-cell>3</td>
            <td class=number-cell>3</td>
            <td class=number-cell>3</td>
            <td class=number-cell>3</td>
            <td class=number-cell>3</td>
        </tr>


    <%= link_to '投稿一覧へ戻る',numpre_index_path %>



</html>

